html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

.test[style] {
    padding-right: 0 !important;
}

.test.modal-open {
    overflow: auto;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.centered {
    margin: auto;
    width: 95%;
    padding: 10px;
}

.centerSlide {
    margin: auto;
    width: 70%;
    padding: 10px;
}

input {
    font: 14px/24px Helvetica, Arial, sans-serif;
    color: #666;
}

p > input {
    width: 100%
}

#login-form button {
    margin: 3px;
    float: right

}

#payment button {
    margin: 3px;
    float: right

}

#signup-form button {
    margin: 3px;
    float: right

}

#ticket-form button {
    margin: 3px;
    float: right
}

#bags, #prior {
    text-align: center;
}

#search-form button {
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    float: right

}

.main {
    background-image: url(../pictures/nastol.com.ua-137683.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    color: white;
}

#sadcomp{
    height:500px;
    width:500px;

}

#sorry{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 35%;
    font-size: 2em;
}

#sorry500{
    position: absolute;
    top:30%;
    font-size: 3em;
    color: black;
    vertical-align: middle;
    font-weight: bold;
}
.page404 {
    background-image: url(../pictures/error_404.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
}
h2 {
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: fixed;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
}

#bs-example-navbar-collapse-1 li {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

open {
    font-size: 1.9em;
}

start {
    font-size: 1.4em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

#ticketTable span {
    font-weight: bold;
    font-size: 1.8em;
    color: black;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left: 24px;
    height: 19px;
    display: inline-block;
    line-height: 19px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px;
    color: black;
}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -19px;
}

#userinfo span {
    font-size: 1.5em;
}

#user-icon {
    width: 100%;
}

#tickets td {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

#routes td {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

#ticketInfoButton {
    float: right;
}

#luggageChange {
    margin-bottom: 125px;
}

#luggageCount {
    margin-bottom: 125px;
}

#tickets tr {
    height: 70px;
}

#routes tr {
    height: 70px;
}

.myTable {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_f5a0bac71f2d241ee9a9c97860a9eae4.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#datepickerInCreator, #datepickerInCreator2 {
    float: left;
    width: 42%;
    margin: 12px;
}

#create-form select {
    display: inline-block;
}

#createHeader {
    margin-left: 15px;
    color: black;
}

#create-form label {
    color: black;
}

#create-form .form-group {
    display: inline-block;
    width: 42%;
    margin: 10px;
}

#create-form input {
    border: 1px solid #aaa;
}

.labelForTime {
    display: inline-block;
    width: 42%;
    margin-left: 10px;
    margin-right: 10px;
}

#timepickerFrom, #timepickerTo {
    float: left;
    width: 42%;
    margin: 12px;
}

form {
    margin: 30px 0 0 0
}

.icon-black {
    color: black;
}

#search-form select {
    display: inline-block;
    width: 24%;
    margin: 10px;
    vertical-align: middle;
}

#search-form option {
    color: black;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9C9C9;
    color: #545658;
    padding: 8px;
    font-size: 14px;
    border-radius: 2px 2px 2px 2px;
}

#search-form {
    width: 80%;
    margin: 0 auto;
}

#signup-icon {
    float: right;
    width: 48px;
    height: 48px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block
}

.clearfix {
    display: block;
}

.none {
    display: none;
}

#header {
    margin: 0 0 30px 0;
    border-bottom: 1px solid #efefef;
}

#send p {
    margin-bottom: 20px
}

#required p {
    font-size: 10px;
}

#apply {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    padding: 20px 0 0 0;
}

#apply ul {
    margin-bottom: 50px
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}

#week {
    margin-bottom: 10px;
}

#datepicker, #datepicker2 {
    float: left;
    width: 30%;
    margin: 10px;
    vertical-align: middle;
}

.search {
    background-color: rgba(221, 221, 221, 0.5);
}

#ticket-form span {
    color: #0066CC;
    font-weight: bold;
}

#ticketPayment {
    width: 60%;
}

#content {
    min-height: calc(100vh - 44px);
}

#search-form {
    position: absolute;
    top: 45%;
    right: 10%;
    left: 10%;
}

#buyTicket label.error {
    color: #FB3A3A;
    text-align: left;
}

#buyTicket input.error {
    border: 1px solid red;
}

/*#editFlight label.error {
    color: #FB3A3A;
    display: inline-block;
    text-align: left;
}

#editFlight input.error {
    border: 1px solid red;
}*/

#createCity label.error {
    color: #FB3A3A;
    display: inline-block;
    text-align: left;
}

#createCity input.error {
    border: 1px solid red;
}

#signupForm label.error {
    color: #FB3A3A;
    display: inline-block;
    text-align: left;
}

#signupForm input.error {
    border: 1px solid red;
}

#loginForm label.error {
    color: #FB3A3A;
    display: inline-block;
    text-align: left;
}

#loginForm input.error {
    border: 1px solid red;
}

#deleteForm label.error {
    color: #FB3A3A;
    display: inline-block;
    text-align: left;
}

#deleteForm input.error {
    border: 1px solid red;
}

#flyTo, #flyBack {
    width: 60%;
}

.footer-right a {
    display: inline-block;
    width: 15%;
    height: 100%;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

footer {
    position: relative;
    bottom: -7px;
    height: 40px;
    padding-top: 4px;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/* If you don't want the footer to be responsive, remove these media queries */




